anthropic[bedrock]
boto3
chatlas
jupyter
nbformat
langchain
langchain-anthropic
langchain-openai
langgraph
llama-index
mcp
mcp[cli]
openai
palmerpenguins
pillow
plotnine
python-dotenv
requests
shiny
shinylive
tokenizers
shinychat
querychat @ git+https://github.com/posit-dev/querychat
seaborn
