anthropic[bedrock]
boto3
chatlas
langchain
langchain-anthropic
langchain-openai
langgraph
llama-index
mcp
mcp[cli]
openai
pillow
python-dotenv
requests
shiny
tokenizers
shinychat
querychat @ git+https://github.com/posit-dev/querychat
seaborn
